.bebida {
  display: grid;
  grid-template-columns: 2fr 3fr;
  colum-gap: 1rem;
  align-items: center;
  margin: 50px 100px;
  height: 80vh;
}
.contenido {
  padding: 1rem;
  margin-left: 20px;
}
.contenido h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.precio {
  color: var(--primary);
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
  margin-bottom: 1rem;
}
.enlace {
  margin-top: 2rem;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--negro);
  border: 2px solid var(--primary);
  padding: 1rem 5rem;
  transition-property: background-color;
  transition: 0.3s;
}
.enlace:hover {
  background-color: var(--primary);
  color: var(--blanco);
}
.formulario {
  display: flex;
  flex-direction: column;
}
.formulario label {
  font-size: 2rem;
}
.formulario select {
  border: 2px solid var(--primary);
  padding: 10px;
  text-align: center;
}
.formulario input[type='submit'] {
  margin-top: 2rem;
  display: block;
  background-color: var(--primary);
  text-transform: uppercase;
  padding: 10px;
  border: none;
  color: var(--blanco);
  font-weight: 600;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.formulario input[type='submit']:hover {
  background-color: var(--negro);
  cursor: pointer;
}
